{:duct.core/project-ns  ticean.clara
 :duct.core/environment :production

 :duct.module/ataraxy {[:post "/" {body :body-params}] [:index body]}

 :duct.logger/timbre
  {:level :info
   :appender #ig/ref :duct.logger.timbre/println}
 :duct.logger.timbre/println {}

 :duct.module/logging {:environment "production"}
 :duct.module.web/api {}

 :ticean.clara/engine
  {:config
   {:base-facts
    [{:fact-type "ShippingMethod" :id "001" :name "Ground" :label "Ground" :description "3-7 business days" :rate 8.99 :group "ground" :carrier nil :attributes {}}
     {:fact-type "ShippingMethod" :id "040" :name "USPS Gift Card" :label "USPS Gift Card" :description "USPS Gift Card" :rate 4.99 :group "ground" :carrier "USPS" :attributes {}}
     {:fact-type "ShippingMethod" :id "virtual-giftcard-shipping" :name "Virtual Gift Card Shipping" :label "USPS Gift Card Shipping Method" :description "" :rate 0 :group "virtual" :carrier nil :attributes {}}
     {:fact-type "ShippingMethod" :id "021" :name "USPS" :label "USPS" :description "3-7 business days" :rate 12.99 :group "ground" :carrier "USPS" :attributes {}}
     {:fact-type "ShippingMethod" :id "002" :name "2-Day Express" :label "2-Day Express" :description "2-3 business days - order by noon EST to ship same day" :rate 18.99 :group "express" :carrier nil :attributes {}}
     {:fact-type "ShippingMethod" :id "free" :name "Free 2-Day Shipping" :label "Free 2-Day Shipping" :description "Free shipping for orders over $49.00" :rate 0 :group "ground" :carrier nil :attributes {:order-total-min 49.00 :order-total-max 100000}}]

    :base-rules
    "INSERT shipping_restriction no-explosives text-description-goes-here
      WHEN order_line_item.attributes.isExplosive = kaboom;
    INSERT shipping_restriction noship-expensive-things text-description-goes-here
      WHEN order_line_item.cost > 100;"}}

 :ticean.clara.handler/index
  {:logger #ig/ref :duct.logger/timbre
   :engine #ig/ref :ticean.clara/engine}}
